<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>voorletters</th>
      <th>complete achternaam</th>
      <th>partij</th>
      <th>begin_jaar</th>
      <th>eind_jaar</th>
      <th>begin_maand</th>
      <th>eind_maand</th>
      <th>begin_dag</th>
      <th>eind_dag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>C.P.M.</td>
      <td>Romme</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>W.J.</td>
      <td>Andriessen</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>L.J.M.</td>
      <td>Beel</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>F.</td>
      <td>van Vliet</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>J.H.</td>
      <td>Mol</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>J.</td>
      <td>Groen</td>
      <td>KVP</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>C.P.M.</td>
      <td>Romme</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>F.</td>
      <td>van Vliet</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>8</th>
      <td>P.J.S.</td>
      <td>Serrarens</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>9</th>
      <td>J.H.</td>
      <td>Maenen</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>10</th>
      <td>W.J.</td>
      <td>Andriessen</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>11</th>
      <td>M.A.M.</td>
      <td>Klompé</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>12</th>
      <td>M.P.</td>
      <td>van der Weijden</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>13</th>
      <td>J.</td>
      <td>Groen</td>
      <td>KVP</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>14</th>
      <td>C.P.M.</td>
      <td>Romme</td>
      <td>KVP</td>
      <td>1952</td>
      <td>1956</td>
      <td>6</td>
      <td>6</td>
      <td>25</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <td>C.P.M.</td>
      <td>Romme</td>
      <td>KVP</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <td>M.A.M.</td>
      <td>Klompé</td>
      <td>KVP</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>17</th>
      <td>G.M.J.</td>
      <td>Veldkamp</td>
      <td>KVP</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>18</th>
      <td>W.L.P.M.</td>
      <td>de Kort</td>
      <td>KVP</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>19</th>
      <td>J.H.</td>
      <td>Maenen</td>
      <td>KVP</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>20</th>
      <td>W.K.N.</td>
      <td>Schmelzer</td>
      <td>KVP</td>
      <td>1963</td>
      <td>1967</td>
      <td>5</td>
      <td>2</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>21</th>
      <td>P.J.</td>
      <td>Lardinois</td>
      <td>KVP</td>
      <td>1963</td>
      <td>1967</td>
      <td>5</td>
      <td>2</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>22</th>
      <td>C.J.</td>
      <td>van der Ploeg</td>
      <td>KVP</td>
      <td>1963</td>
      <td>1967</td>
      <td>5</td>
      <td>2</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>23</th>
      <td>M.A.M.</td>
      <td>Klompé</td>
      <td>KVP</td>
      <td>1963</td>
      <td>1967</td>
      <td>5</td>
      <td>2</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>24</th>
      <td>W.</td>
      <td>Drees</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>25</th>
      <td>M.</td>
      <td>van der Goes</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>26</th>
      <td>J.J.</td>
      <td>Vorrink</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>27</th>
      <td>W.</td>
      <td>Schermerhorn</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>28</th>
      <td>P.</td>
      <td>Lieftinck</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>29</th>
      <td>A.M.</td>
      <td>Joekes</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>30</th>
      <td>H.</td>
      <td>Vos</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>31</th>
      <td>S.L.</td>
      <td>Mansholt</td>
      <td>PvdA</td>
      <td>1946</td>
      <td>1948</td>
      <td>5</td>
      <td>7</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>32</th>
      <td>W.</td>
      <td>Drees</td>
      <td>PvdA</td>
      <td>1948</td>
      <td>1952</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>33</th>
      <td></td>
      <td>W, Drees</td>
      <td>PvdA</td>
      <td>1952</td>
      <td>1956</td>
      <td>6</td>
      <td>6</td>
      <td>25</td>
      <td>13</td>
    </tr>
    <tr>
      <th>34</th>
      <td>J.M.</td>
      <td>Willems</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>35</th>
      <td>J.G.</td>
      <td>Suurhoff</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>36</th>
      <td>J.A.W.</td>
      <td>Burger</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>37</th>
      <td>I.</td>
      <td>Samkalden</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>38</th>
      <td>H.J.</td>
      <td>Hofstra</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>39</th>
      <td>A.</td>
      <td>Vondeling</td>
      <td>PvdA</td>
      <td>1956</td>
      <td>1959</td>
      <td>6</td>
      <td>3</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>40</th>
      <td>A.</td>
      <td>Vondeling</td>
      <td>PvdA</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>41</th>
      <td>J.G.</td>
      <td>Suurhoff</td>
      <td>PvdA</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>42</th>
      <td>J.M.</td>
      <td>Willems</td>
      <td>PvdA</td>
      <td>1959</td>
      <td>1963</td>
      <td>3</td>
      <td>5</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr>
      <th>43</th>
      <td>J.M.</td>
      <td>den Uyl</td>
      <td>PvdA</td>
      <td>1963</td>
      <td>1967</td>
      <td>5</td>
      <td>2</td>
      <td>15</td>
      <td>15</td>
    </tr>
  </tbody>
</table>