<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>voorletters</th>
      <th>roepnaam</th>
      <th>complete achternaam</th>
      <th>partij</th>
      <th>jaar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>J.A.</td>
      <td></td>
      <td>Loeff</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>5</th>
      <td>W.H.</td>
      <td></td>
      <td>Bogaardt</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>6</th>
      <td>A.I.M.J.</td>
      <td></td>
      <td>Van Wijnbergen</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>7</th>
      <td>M.J.C.M.</td>
      <td></td>
      <td>Kolkman</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>8</th>
      <td>J.B.</td>
      <td></td>
      <td>van Dijk</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>9</th>
      <td>J.B.</td>
      <td></td>
      <td>Bomans</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>10</th>
      <td>P.F.</td>
      <td></td>
      <td>Fruytier</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>11</th>
      <td>A.H.J.</td>
      <td></td>
      <td>Engels</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>12</th>
      <td>W.H.</td>
      <td></td>
      <td>Nolens</td>
      <td>RK</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>22</th>
      <td>J.</td>
      <td></td>
      <td>Oudegeeest</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>23</th>
      <td>A.B.</td>
      <td></td>
      <td>Kleerekoper</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>24</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>25</th>
      <td>K.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>26</th>
      <td>P.J.</td>
      <td></td>
      <td>Troelstra</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>27</th>
      <td>J.E.W.</td>
      <td></td>
      <td>Duijs</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>28</th>
      <td>F.W.N.</td>
      <td></td>
      <td>Hugenholtz</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>29</th>
      <td>W.P.G.</td>
      <td></td>
      <td>Helsdingen</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>30</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>31</th>
      <td>J.H.A.</td>
      <td></td>
      <td>Schaper</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>32</th>
      <td>W.C.</td>
      <td></td>
      <td>De Jonge</td>
      <td>SDAP</td>
      <td>1918</td>
    </tr>
    <tr>
      <th>37</th>
      <td>A.F.O.</td>
      <td></td>
      <td>Van Sasse van Ysselt</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>38</th>
      <td>A.B.G.M.</td>
      <td></td>
      <td>Van Rijckevorsel</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>39</th>
      <td>A.I.M.J.</td>
      <td></td>
      <td>Van Wijnbergen</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>40</th>
      <td>H.</td>
      <td></td>
      <td>Stulemeyer</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>41</th>
      <td>D.A.P.N.</td>
      <td></td>
      <td>Koolen</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>42</th>
      <td>M.J.C.M.</td>
      <td></td>
      <td>Kolkman</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>43</th>
      <td>C.J.</td>
      <td></td>
      <td>Kuiper</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>44</th>
      <td>J.B.</td>
      <td></td>
      <td>Van Dijk</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>45</th>
      <td>J.B.</td>
      <td></td>
      <td>Bomans</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>46</th>
      <td>P.F.</td>
      <td></td>
      <td>Fruytier</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>47</th>
      <td>A.H.J.</td>
      <td></td>
      <td>Engels</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>48</th>
      <td>A.C.A.</td>
      <td></td>
      <td>Van Vuuren</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>49</th>
      <td>W.H.</td>
      <td></td>
      <td>Nolens</td>
      <td>RK</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>58</th>
      <td>W.H.</td>
      <td></td>
      <td>Vliegen</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>59</th>
      <td>A.B.</td>
      <td></td>
      <td>Kleerekoper</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>60</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>61</th>
      <td>K.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>62</th>
      <td>P.J.</td>
      <td></td>
      <td>Troelstra</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>63</th>
      <td>J.E.W.</td>
      <td></td>
      <td>Duijs</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>64</th>
      <td>F.W.N.</td>
      <td></td>
      <td>Hugenholtz</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>65</th>
      <td>G.W.</td>
      <td></td>
      <td>Sannes</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>66</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>67</th>
      <td>J.H.A.</td>
      <td></td>
      <td>Schaper</td>
      <td>SDAP</td>
      <td>1922</td>
    </tr>
    <tr>
      <th>70</th>
      <td>A.F.O.</td>
      <td></td>
      <td>Van Sasse van Ysselt</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>71</th>
      <td>A.B.G.M.</td>
      <td></td>
      <td>Van Rijckevorsel</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>72</th>
      <td>A.I.M.J.</td>
      <td></td>
      <td>Van Wijnbergen</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>73</th>
      <td>D.A.P.N.</td>
      <td></td>
      <td>Koolen</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>74</th>
      <td>J.B.</td>
      <td></td>
      <td>Van Dijk</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>75</th>
      <td>J.B.</td>
      <td></td>
      <td>Bomans</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>76</th>
      <td>P.F.</td>
      <td></td>
      <td>Fruytier</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>77</th>
      <td>A.C.A.</td>
      <td></td>
      <td>Van Vuuren</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>78</th>
      <td>A.H.J.</td>
      <td></td>
      <td>Engels</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>79</th>
      <td>W.H.</td>
      <td></td>
      <td>Nolens</td>
      <td>RKSP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>91</th>
      <td>W.H.</td>
      <td></td>
      <td>Vliegen</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>92</th>
      <td>A.B.</td>
      <td></td>
      <td>Kleerekoper</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>93</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>94</th>
      <td>K.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>95</th>
      <td>A.H.</td>
      <td></td>
      <td>Gerhard</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>96</th>
      <td>J.E.W.</td>
      <td></td>
      <td>Duijs</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>97</th>
      <td>T.</td>
      <td>Theo</td>
      <td>Van der Waerden</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>98</th>
      <td>G.W.</td>
      <td></td>
      <td>Sannes</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>99</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>100</th>
      <td>J.H.A.</td>
      <td></td>
      <td>Schaper</td>
      <td>SDAP</td>
      <td>1925</td>
    </tr>
    <tr>
      <th>114</th>
      <td>A.N.</td>
      <td></td>
      <td>Fleskens</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>115</th>
      <td>L.J.M.</td>
      <td></td>
      <td>Feber</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>116</th>
      <td>J.R.H.</td>
      <td></td>
      <td>Van Schaik</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Ch.J.M.</td>
      <td></td>
      <td>Ruijs de Beerenbrouck</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>118</th>
      <td>A.C.A.</td>
      <td></td>
      <td>Van Vuuren</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Ch.L.</td>
      <td></td>
      <td>Van de Bilt</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>120</th>
      <td>J.G.</td>
      <td></td>
      <td>Suring</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>121</th>
      <td>P.J.M.</td>
      <td></td>
      <td>Aalberse</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>122</th>
      <td>W.H.</td>
      <td></td>
      <td>Nolens</td>
      <td>RKSP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>130</th>
      <td>W.H.</td>
      <td></td>
      <td>Vliegen</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>131</th>
      <td>A.B.</td>
      <td></td>
      <td>Kleerekoper</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>132</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>133</th>
      <td>K.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>134</th>
      <td>A.H.</td>
      <td></td>
      <td>Gerhard</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>135</th>
      <td>J.E.W.</td>
      <td></td>
      <td>Duijs</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>136</th>
      <td>T.</td>
      <td>Theo</td>
      <td>Van der Waerden</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>137</th>
      <td>G.W.</td>
      <td></td>
      <td>Sannes</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>138</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>139</th>
      <td>J.H.A.</td>
      <td></td>
      <td>Schaper</td>
      <td>SDAP</td>
      <td>1929</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Ch.L.</td>
      <td></td>
      <td>Van de Bilt</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>143</th>
      <td>J.R.H.</td>
      <td></td>
      <td>Van Schaik</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>144</th>
      <td>A.J.</td>
      <td></td>
      <td>Loerakker</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>145</th>
      <td>L.N.</td>
      <td></td>
      <td>Deckers</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>146</th>
      <td>H.G.M.</td>
      <td></td>
      <td>Hermans</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>147</th>
      <td>C.M.J.F.</td>
      <td></td>
      <td>Goseling</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>148</th>
      <td>C.J.</td>
      <td></td>
      <td>Kuiper</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>149</th>
      <td>P.J.M.</td>
      <td></td>
      <td>Aalberse</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>150</th>
      <td>J.G.</td>
      <td></td>
      <td>Suring</td>
      <td>RKSP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>162</th>
      <td>W.H.</td>
      <td></td>
      <td>Vliegen</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>163</th>
      <td>H.J.</td>
      <td></td>
      <td>Van Braambeek</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>164</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>165</th>
      <td>W.</td>
      <td></td>
      <td>Drees</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>166</th>
      <td>K.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>167</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>168</th>
      <td>J.E.W.</td>
      <td></td>
      <td>Duijs</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>169</th>
      <td>T.</td>
      <td>Theo</td>
      <td>Van der Waerden</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>170</th>
      <td>P.F.</td>
      <td></td>
      <td>Hiemstra</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>171</th>
      <td>W.</td>
      <td></td>
      <td>Van der Sluis</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>172</th>
      <td>A.</td>
      <td></td>
      <td>Van der Heide</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>173</th>
      <td>J.H.A.</td>
      <td></td>
      <td>Schaper</td>
      <td>SDAP</td>
      <td>1933</td>
    </tr>
    <tr>
      <th>176</th>
      <td>L.N.</td>
      <td></td>
      <td>Deckers</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>177</th>
      <td>C.M.J.F.</td>
      <td></td>
      <td>Goseling</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>178</th>
      <td>H.W.E.</td>
      <td></td>
      <td>Moller</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>179</th>
      <td>P.J.M.</td>
      <td></td>
      <td>Aalberse</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>180</th>
      <td>L.J.C.</td>
      <td></td>
      <td>Beaufort</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>181</th>
      <td>H.G.M.</td>
      <td></td>
      <td>Hermans</td>
      <td>RKSP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>187</th>
      <td>W.</td>
      <td></td>
      <td>Drop</td>
      <td>SDAP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>188</th>
      <td>W.</td>
      <td></td>
      <td>Van der Sluis</td>
      <td>SDAP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>189</th>
      <td>J.</td>
      <td></td>
      <td>ter Laan</td>
      <td>SDAP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>190</th>
      <td>W.</td>
      <td></td>
      <td>Drees</td>
      <td>SDAP</td>
      <td>1937</td>
    </tr>
    <tr>
      <th>191</th>
      <td>J.W.</td>
      <td></td>
      <td>Albarda</td>
      <td>SDAP</td>
      <td>1937</td>
    </tr>
  </tbody>
</table>